* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Verdana, sans-serif;
	text-align: center;
	user-select: none;
}

h1 {
	margin: 20px;
	text-decoration: underline;
}

h3 {
	margin-left: 10px;
}

input,
select,
button {
	margin: 10px;
	width: 218px;
	height: 40px;
	font-size: 16px;
	font-weight: bold;
}

button {
	width: 220px;
}

.disabled {
	opacity: 0.4;
	cursor: not-allowed !important;
	-webkit-user-drag: none;
}

.disabled * {
	pointer-events: none;
}

#target-time-slider {
	position: relative;
	width: 80%;
	max-width: 500px;
	height: 8px;
	margin: 1rem auto;
}

#target-time-slider-track {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	height: 4px;
	background: #ccc;
	transform: translateY(-50%);
	border-radius: 2px;
}

.target-time-slider-handle {
	position: absolute;
	top: 50%;
	width: 16px;
	height: 16px;
	background: #6db4ff;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	user-select: none;
}

#target-time-handle-value {
	background: #36aa00;
}

#target-time-values {
	width: 80%;
	max-width: 500px;
	margin: 1rem auto;
	display: flex;
	justify-content: space-between;
}

#target-time-slider-range {
	position: absolute;
	top: 50%;
	height: 4px;
	background: #000;
	transform: translateY(-50%);
	border-radius: 2px;
	pointer-events: none;
}

#course-priority-list-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#course-priority-list {
	list-style: none;
	padding: 0;
	width: 300px;
	counter-reset: priority-item-counter;
}

#course-priority-list li {
	position: relative;
	padding: 12px 40px 12px 35px;
	margin: 8px 0;
	background: whitesmoke;
	border: 1px solid #ccc;
	border-radius: 4px;
	cursor: grab;
	user-select: none;
	text-align: left;
}

#course-priority-list li:hover {
	border-color: black;
}

#course-priority-list li.dragging {
	opacity: 0.5;
	cursor: grabbing;
}

#course-priority-list li .drag-handle {
	position: absolute;
	right: 8px;
	top: 50%;
	transform: translateY(-50%);
	width: 10px;
	display: flex;
	justify-content: space-between;
	pointer-events: none;
}

#course-priority-list li .drag-handle::before,
#course-priority-list li .drag-handle::after {
	content: '•\A•\A•';
	white-space: pre;
	display: block;
	font-size: 8px;
	line-height: 0.9;
	color: #666;
}

#course-priority-list li::before {
	content: counter(priority-item-counter) '. ';
	counter-increment: priority-item-counter;
	font-weight: bold;
	position: absolute;
	left: 12px;
}

#num-players {
	width: 60px;
}

#num-players::-webkit-inner-spin-button,
#num-players::-webkit-outer-spin-button {
	opacity: 1;
}

#snipe {
	background: #36aa00;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#snipe.sniping {
	width: 150px;
	background: #ff4719;
}
